doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(src='javascripts/client.js')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .container
      .app-content